.more-v{
    right: 4%;
    margin-top: -28px;
}

.icon {
    margin-top: -1px;
    font-size: 1.2em;
}

.nk-sidebar-element{
    overflow: unset;
}

.logo-body{
    min-width: 120px;
}

.form-control{
    background: transparent;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #6576ff;
    box-shadow: none;
    padding-left: .5rem;
    color: #7f8dff;
}