
.dropdown-menu{
    min-width: 150px;
}

.kc-dropdown {
    height: 20px;
    color: #6e82a5;
}

.kc-dropdown-menu {
    width: 150px;
    right: 40%;
    top: 50%;
    left: auto;
    background: #18212d;
    border-color: #263547;
}

.nk-menu-link{
    padding-left: 18px;
    padding-right: 16px;
    
}

.icon{
    font-size: 16px;
}

.nk-menu-icon{
    width: 24px;
}

a{
    color: #8094ae !important;
}

a:hover{
    color: #6576ff !important;
}