.language-list{
    background: white;
    width: 120px;
}

.kc-dropdown-menu{
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
}

.quick-icon{
    display: unset;
}

.kc-dropdown-toggle {
    padding: 0 4px;
}