:host {
  display: block;
}

.pagination-summary-compact {
  padding-top: 0.25rem;
  padding-bottom: 0;
  font-size: 0.875rem;
}

.pagination-goto {
  align-items: center;
}

.c-pg {
  width: 60px;
  padding: 0.4rem;
  line-height: 0.75rem;
  min-height: calc(1.125rem + 2px);
}
